/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{

    box-sizing: border-box;
    font-family: lato;
}


html{
    font-size: 18px;
    background-color:#f3f4f7;
    /* color:black; */
}

[data-tab-content] {
  font-size: 12px;
        font-family: 'Righteous', cursive;
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
  background-color: #f3f4f7;
    padding: 0 ;
    margin: 0;
  
    
  }
  
  .tabs {
    margin-top: 50px;
    max-width: 100%;
    margin: auto;
    display: flex;
    position:relative;
    list-style-type: none;
    padding: 2;
    border-top: 1px solid black; 
    background-color: #037ef3;
    border-bottom: 1px solid black;
  }

  .tab {
    font-size: 18px;
        font-family: 'Righteous', cursive;
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    background-color: #CCC;
  }
  
  .tab:hover {
    background-color: #cfd1ca;
  }
  
  .tab-content {
  font-size: 18px;
        font-family: 'Righteous', cursive;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  
a{
    /*color:#037ef3;*/
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:20px;
    font-weight: bolder;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}



/* ########################################### */
/*           webpage.html                       */
/* ########################################### */
.container{
    max-width: 70%;
    margin: 20px;
    padding: 20px;
}

.replycontainer{
  max-width: 90%;
  margin-left: 175px;
  padding: 20px;
}

.container .content img{
  max-width: 300px;
  max-height: 400px;
}
  

.homepage{
    margin: 20px;
    padding: 20px;
}


/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        max-width: 70%;
        margin: 10px;
        padding: 10px;
    }

    .replycontainer{
        max-width: 90%;
        margin-left: 175px;
        padding: 20px;

        /*max-width: 64%;
        padding: 10px;
        margin-left: 40px;*/
    }


  }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        max-width: 100%;
        margin: 15px;
        padding: 15px;
    }
    .replycontainer{
        /*max-width: 64%;
        padding: 15px;
        margin-left: 40px;*/

        max-width: 90%;
        margin-left: 50px;
        padding: 20px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 40px;
        font-family: 'Righteous', cursive;
    }
h2{
        font-size: 20px;
        font-family: 'Righteous', cursive;
    }

h3{
        font-size: 20px;
        font-family: 'Righteous', cursive;
        color: #037ef3;
    }

    h4{
        font-size: 20px;
        font-family: 'Righteous', cursive;
        color: white;
    }

p{
  font-family: 'Lato';
  
}

  }
/*   Header Section    */

header{
    margin-inline: 10px;
}
  /* Nav Bar styles */
.navbar{
    display:flex;
    align-items: center;
}
.navigation{
    background-color:white;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

  /* Search Box styles */
.search-box{
  background-image:url(https://media-exp1.licdn.com/dms/image/C4D1BAQFp--G07GJulQ/company-background_10000/0?e=2159024400&v=beta&t=Hvu1Le58SaZKX7B-OtsIgdmXgLfW3nj3TSe20gnsdfc);
background-repeat: no-repeat;
    
    margin-top: 20px;
    padding: 120px;
    display:flex;
    justify-content: center;
    
}

.search-box select{
        font-size: 12px;
        font-family: 'Righteous', cursive;
  border: solid 1px #7f9fd0;
    padding: 5px;
}

.search-box input{
  font-size: 12px;
        font-family: 'Righteous', cursive;
    padding: 10px;
    color:#000000;
    border: solid 3px black;
}

.search-box button{
    padding: -2px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #037ef3;
    color: #fff;
    box-shadow: 1px 2px 3px #f85a40;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #caccd1;
    box-shadow:1px 2px 3px white;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #52057b;
    display: block;
    text-align: center;
}


/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #131415;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


.head{
    max-width: 100%;
    display: flex;
    background-color: #30c39e;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    max-width: 70%;
    margin: auto;
    display: flex;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    box-shadow: 1px 2px 3px #52565e;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 23px;
    
}

.body .authors img{
    border-radius: 50%;
    max-width: 70px;
    max-height: 100px;
}

.body .content .comment button{
    border:1px solid black;
    padding:10px;
    font-weight: bolder;
    border-radius: 20px;
    /* box-shadow: 4px 6px #fff; */
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-left: 250px;
    margin-bottom: 20px;
}

.comment-area textarea{
    width: 80%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

/* ########################################### */
/*           Delete option 3 dots                      */
/* ########################################### */
*{margin: 0;padding:0px}

  /* .showLeft{
      background-color: #cfd1ca !important;
      /* border:1px solid #0d77b6 !important; 
      text-shadow: none !important;
      color: #cfd1ca;
      padding:10px;
  } */

  .icons li {
      background: none repeat scroll 0 0 gray;
      height: 5px;
      width: 5px;
      line-height: 0;
      list-style: none outside none;
      margin-right: 15px;
      margin-top: 3px;
      vertical-align: top;
      border-radius:50%;
      pointer-events: none;
  }
  
  .btn-left {
      left: 0.4em;
  }

  .btn-right {
      right: 0.4em;
  }

  .btn-left, .btn-right {
      position: relative;
      top: 0.24em;
  }

  .dropbtn {
      /* background-color: #4CAF50; */
      position: relative;
      font-size: 16px;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
      /* background-color: #3e8e41; */
      background-color: #caccd1;
  }

  .dropdown {
      float: right;
      position: relative;
      display: inline-block;
      /* right: 0.4em; */
  }

  .dropdown-content {
      display: none;
      right:0;
      position: absolute;
      background-color: #f9f9f9;
      border: 2px solid #dedede;
      color: #f1f1f1;
      min-width: 100px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
    
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown a:hover {background-color: #f1f1f1}

  .show {display:block;}

/* ########################################### */
/*           HEART REAX                     */
/* ########################################### */

.h_container{
    background-color: #cac7c7;
    float: right;
    margin: 0 1px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display: block;
    width:35px;
    height:35px;
    text-align:center;
    line-height:45px;

}
#heart{
    color:gray;
    font-size: 25px;
}
#heart:hover{
    color:#037ef3;
}


/* ########################################### */
/*           Drop down for User account                     */
/* ########################################### */

.action{
    position: fixed;
    top: 20px;
    right: 30px;
}

.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity:0;
}

.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;

}
.action .menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;

}

.action .menu h3 span{
    font-size: 14px;
    font-weight: 490;
    color: #cecece;
    
}

.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    direction: flex;
    align-items: center;
    justify-content: center;
}

.action .menu ul li img{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img{
    opacity: 1;
}

.action .menu ul li a{
    display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a{
    color: #ff5d94;
}

/* ########################################### */
/*           Home tab create post                   */
/* ########################################### */

/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.card2 {
       background-image:url(https://i2.wp.com/s3-eu-west-1.amazonaws.com/y4gg-bucket/wp-content/uploads/2017/11/30185405/WLL-opt-2-e1512068167168.png?fit=1200%2C802&ssl=1);
   padding: 60px;
   margin-top: 20px;
   margin-bottom: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.containerhome {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  font-size: 13px;
    font-family: 'Righteous', cursive;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  font-size: 13px;
    font-family: 'Righteous', cursive;
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.submit {
  background-color: #037ef3;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submit:hover {
  opacity: 1;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 2000px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #7f9fd0;
  color: white;
}

.fa-medium {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
  
.fa-heart {
  margin-left: 82.5%;
  size: 10px;
}

.fa-heart:hover {
    opacity: 0.7;
    color: #037ef3;
}
